{% extends 'base.html' %}

{% block content %}
<div class="container header">
    <h1>Welcome to the Travel Club! Let's Get Started!</h1>
    <p>Trust, super easy to use. Give us your name, email or text message (what ever way your prefer communication)
        and a list of 6 cities you would like to travel to within the next sit months... sit back, relax, and let us
        find the deals!
    </p>
</div>
<div class="container">
    <div class="accordion" id="accordionExample">
        <form method="POST" action="{{ url_for('home') }}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        The B's (Basics)
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>We need a name.</strong> C'mon, this is pretty self explanetory. Doesnt neccesarily have
                        to
                        be your real
                        name. By all means if you want us to call your Lord Farqud, X-333triple87 that's your bee's wax.
                        <br>
                        <!--          <code>.accordion-body</code-->
                        <div class="form-group">
                            <input type="text" id="fname" class="form-control" name="name"
                                   placeholder="Name, please :)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        The digitssss <small> (orrrr email or proragative)</small>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Just the basic forms of communication, duh.</strong>
                        we need a phone number or email address, have no fear we wont spam ya.... unless you want us
                        too.<br>
                        <div class="form-group">
                            <input type="radio" id="phone" name="communication" value="phone">
                            <label for="phone">Text Alert</label>

                            <input type="radio" id="email" name="communication" value="email">
                            <label for="phone">Email Alert</label>

                            <input type="text" id="communication" name="radio-selection" class="form-control" placeholder="Please enter a phone number or email address">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        The Good Stuff.... Time to get away!
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Let's get out of here!.</strong> Give us 6 cities you would like to travel to within the
                        next <code>6 months</code>
                        and we will text/email you the dealz! See E-Z!<br>
                        <div class="form-group">
                            <label for="search_time">What's the 'crunch time' on your search:</label>
                            <select name="search_time" id="search_time">
                                <option value="6 months">6 Months</option>
                                <option value="3 months">3 Months</option>
                                <option value="1 months">1 Month</option>
                                <option value="2 weeks">2 weeks</option>
                                <option value="today">Today</option>
                            </select>
                            <input type="text" id="departure" name="departure" class="form-control"
                                   placeholder="What city are we leaving?">
                            <input type="text" id="city1" name="city1" class="form-control"
                                   placeholder="Where are you headed?"> <br>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Let's Get Away!</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}